<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team.isc">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- android:icon="@mipmap/ic_launcher" -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/isclogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".view.acitvity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.acitvity.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".view.acitvity.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".view.acitvity.RegisterActivity" />
        <activity android:name=".view.acitvity.UserActivity" />
        <activity android:name=".view.acitvity.ActinfoActivity" />
        <activity android:name=".view.acitvity.NewsinfoActivity" />
        <activity android:name=".view.acitvity.EditNewscommentActivity" />
        <activity android:name=".view.acitvity.PostsinfoActivity" />
        <activity android:name=".view.acitvity.EditPostsActivity" />
        <activity android:name=".view.acitvity.EditActActivity" />
        <activity android:name=".view.acitvity.MyActActivity" />
        <activity android:name=".view.acitvity.ActInitinfoActivity" />
        <activity android:name=".view.acitvity.MyPostsActivity" />
        <activity android:name=".view.userinfo.SetRealnameActivity" />
        <activity android:name=".view.userinfo.SetNicknameActivity" />
        <activity android:name=".view.userinfo.SetSexActivity" />
        <activity android:name=".view.userinfo.SetDeptActivity" />
        <activity android:name=".view.userinfo.SetClassActivity" />
        <activity android:name=".view.userinfo.SetNumActivity" />
        <activity android:name=".view.userinfo.SetPhoneActivity" />
        <activity android:name=".view.userinfo.SetQQActivity" />
        <activity android:name=".view.acitvity.AboutActivity" />
        <activity android:name=".view.acitvity.ShareActivity"></activity>
    </application>

</manifest>